@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-gradient-border::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(90deg, #6366f1, #9333ea, #6366f1); /* indigo a violeta */
    background-size: 200% 100%;
    animation: moveGradient 4s linear infinite;
    border-radius: 0 0 0.375rem 0.375rem; /* para que se vea bien con el rounded */
  }
}

@keyframes moveGradient {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}